footer{
    text-align: center;
    background-color: #212529;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-block: 1rem;
    margin-top: 3rem;
    color: #fff;
    font-size: 17px;

&   span {
    color: #ff7790;
    text-transform: capitalize;
}
}